.test{
    background-color: rgba(140, 140, 168, 0.54);
    font-size: larger 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.test1{
    background-color: rgba(27, 159, 51, 0.54);
    font-size: larger 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:greenyellow
}